div#pageHead {
	width: 100px;
	min-height: 10px;
	float: left;
/* 	left: 200px; */
	font-weight: normal;
	text-decoration: none;
	line-height: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	border-bottom: 4px solid #656659;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div#pageHead.center 
{
	margin-left: 20px;
    margin-right: auto;
    width: 70%;
}

div#pageHead h1
{
	text-align:left
}

